<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.project.dykj.board.mapper.BoardMapper">

  <insert id="insertPost">
    <selectKey keyProperty="boardId" resultType="int" order="AFTER">
      SELECT SEQ_BOARD.CURRVAL FROM DUAL
    </selectKey>
    INSERT INTO BOARD (
      BOARD_ID, BOARD_TYPE, STOCK_ID, USER_ID, BOARD_TITLE, BOARD_CONTENT, VIEW_COUNT, CREATE_DATE, MODIFY_DATE, DELETE_DATE
    ) VALUES (
      SEQ_BOARD.NEXTVAL,
      #{boardType},
      #{stockId},
      #{userId},
      #{boardTitle},
      #{boardContent},
      0,
      SYSDATE,
      NULL,
      NULL
    )
  </insert>

  <update id="incrementViewCnt">
    UPDATE BOARD
       SET VIEW_COUNT = VIEW_COUNT + 1
     WHERE BOARD_ID = #{postId}
       AND DELETE_DATE IS NULL
  </update>

  <select id="selectPostDetail" resultType="Board">
    SELECT
      BOARD_ID      AS boardId,
      BOARD_TITLE   AS boardTitle,
      BOARD_CONTENT AS boardContent,
      CREATE_DATE   AS createDate,
      MODIFY_DATE   AS modifyDate,
      DELETE_DATE   AS deleteDate,
      VIEW_COUNT    AS viewCount,
      STOCK_ID      AS stockId,
      BOARD_TYPE    AS boardType,
      USER_ID       AS userId
    FROM BOARD
    WHERE BOARD_ID = #{postId}
      AND DELETE_DATE IS NULL
  </select>

  <select id="selectPostList" resultType="Board">
    SELECT
      BOARD_ID      AS boardId,
      BOARD_TITLE   AS boardTitle,
      BOARD_CONTENT AS boardContent,
      CREATE_DATE   AS createDate,
      MODIFY_DATE   AS modifyDate,
      DELETE_DATE   AS deleteDate,
      VIEW_COUNT    AS viewCount,
      STOCK_ID      AS stockId,
      BOARD_TYPE    AS boardType,
      USER_ID       AS userId
    FROM BOARD
    WHERE DELETE_DATE IS NULL
      <if test="boardType != null and boardType != ''">
        AND BOARD_TYPE = #{boardType}
      </if>
      <if test="stockId != null and stockId != ''">
        AND STOCK_ID = #{stockId}
      </if>
    ORDER BY CREATE_DATE DESC
    OFFSET #{offset} ROWS FETCH NEXT #{size} ROWS ONLY
  </select>

  <update id="updatePost">
    UPDATE BOARD
       SET STOCK_ID = #{stockId},
           BOARD_TITLE = #{boardTitle},
           BOARD_CONTENT = #{boardContent},
           MODIFY_DATE = SYSDATE
     WHERE BOARD_ID = #{boardId}
       AND DELETE_DATE IS NULL
  </update>

  <update id="softDeletePost">
    UPDATE BOARD
       SET DELETE_DATE = SYSDATE,
           MODIFY_DATE = SYSDATE
     WHERE BOARD_ID = #{postId}
       AND DELETE_DATE IS NULL
  </update>

</mapper>
